{{dato.id_paciente}}
<div class="row">
    <div class="col-md-4">
        <div ui-sref="home.exploracion_fisica" ng-click="select_tabla('exploracion_fiisica');" style="background-color: #F1C40F;" class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                    <h6 class="card-title text-white">Exploracion fisica</h6>
                  </div>
              </div>
              <div class="col-md-4 bg-white">
                <img src="assets/img/img2.png" class="card-img " alt="...">
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div ui-sref="home.heredofamiliares" ng-click="select_tabla_id('antecedentes_heredofamiliares',id_paciente)" style="background-color: #27AE60;" class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                    <h6 class="card-title text-white">Antecedentes Heredofamiliares y patologicos</h6>
                  </div>
              </div>
              <div class="col-md-4 bg-white">
                <img src="assets/img/img3.png" class="card-img " alt="...">
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div style="background-color: #16A085;" class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                    <h6 class="card-title text-white">Habitos De Salud</h6>
                  </div>
              </div>
              <div class="col-md-4 bg-white">
                <img src="assets/img/img1.png" class="card-img " alt="...">
              </div>
            </div>
          </div>
      
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div style="background-color: #2980B9;" class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                    <h6 class="card-title text-white">Diagnostico De Rehabilitacion</h6>
                  </div>
              </div>
              <div class="col-md-4 bg-white">
                <img src="assets/img/img7.png" class="card-img " alt="...">
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div style="background-color: #8E44AD;" class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                    <h6 class="card-title text-white">Cicatriz Quirurgica</h6>
                  </div>
              </div>
              <div class="col-md-4 bg-white">
                <img src="assets/img/img4.png" class="card-img " alt="...">
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div style="background-color: #C0392B;" class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                    <h6 class="card-title text-white">Traslados</h6>
                  </div>
              </div>
              <div class="col-md-4 bg-white">
                <img src="assets/img/img5.png" class="card-img " alt="...">
              </div>
            </div>
          </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <div style="background-color: #2C3E50;" class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                    <h6 class="card-title text-white">Marcha / Deambulacion</h6>
                  </div>
              </div>
              <div class="col-md-4 bg-white">
                <img src="assets/img/img6.png" class="card-img " alt="...">
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div style="background-color: #F39C12;" class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                    <h6 class="card-title text-white">Escala De Dolor</h6>
                  </div>
              </div>
              <div class="col-md-4 bg-white">
                <img src="assets/img/img8.png" class="card-img " alt="...">
              </div>
            </div>
          </div>
     
    </div>
    <div class="col-md-4">
        <div  style="background-color: #BDC3C7;" class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                    <h6 class="card-title text-white">Evaluacion Muscular</h6>
                  </div>
              </div>
              <div class="col-md-4 bg-white">
                <img src="assets/img/img10.png" class="card-img " alt="...">
              </div>
            </div>
          </div>
    </div>

</div>

<div class="row">
    <div class="col-md-4">
        <div style="background-color: #1ABC9C;" class="card mb-3" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-8">
                <div class="card-body">
                    <h6 class="card-title text-white">Galeria</h6>
                  </div>
              </div>
              <div class="col-md-4 bg-white">
                <img src="assets/img/img11.png" class="card-img " alt="...">
              </div>
            </div>
          </div>
    </div>
    <div class="col-md-4">
        <div style="background-color: rgb(163, 45, 133);" class="card mb-3" style="max-width: 540px;">
           <div class="row no-gutters">
             <div class="col-md-8">
               <div class="card-body">
                   <h6 class="card-title text-white">Perfil De Paciente</h6>
                 </div>
             </div>
             <div class="col-md-4 bg-white">
               <img src="assets/img/img12.png" class="card-img " alt="...">
             </div>
           </div>
         </div> 
   </div>
</div>

